<po-toolbar p-title="1.00.000 - HTMLESRR033 - CARGA DE DADOS EM MASSA"></po-toolbar>

<div class="cabec">
    <div class="tipoBusca">

        <form [formGroup]="form">

            <!--
            p-url="https://hawebdev.dieboldnixdorf.com.br:8543/api/integracao/import/v1/apiesim001/addFiles"
            [p-url]="_url"
            <po-button p-tooltip="Arquivo de Upload" name='btUpload' [p-disabled]="lBotao" style="margin-right: 50px" p-icon="po-icon po-icon-upload" p-kind="primary"  p-label="Upload" (p-click)="ChamaObterBRR()"></po-button>-->
            <po-upload #upload name="upload" [p-url]="_url" p-icon="bi bi-cloud-upload"
                p-label="Selecione o Arquivo para Importação" [p-headers]="headersTotvs"
                (p-upload)="ChamaUploadOk($event)" (p-error)="ChamaErro($event)" (p-success)="onObterArquivoImp()"
                [p-auto-upload]="true" [p-literals]="customLiteralsupload"
                (p-custom-action-click)="onCustomActionClick($event)">
            </po-upload>

        </form>

    </div>


    <div class="campofiltrosc">
        <!--
            <po-button p-tooltip="Consulta Emergencial"                  p-icon="po-icon po-icon-oil-analysis" p-label="Consulta Emergencial"  (p-click)="ConsultaEmergencial()" p-danger="true"></po-button>
            <po-button p-tooltip="Consulta de Saldo Item Data"           p-icon="po-icon po-icon-pushcart"     p-label="CE0830"   (p-click)="AbrirTelaTOTVS('cep/ce0830.w')" p-kind="primary" ></po-button>
            <po-button p-tooltip="Consulta Analise Critica Planejamento" p-icon="po-icon po-icon-pallet-full"  p-label="ESPP034"  (p-click)="AbrirTelaTOTVS('esp/espp034.w')" p-kind="primary"></po-button>
            -->
        <po-button p-tooltip="Layout do Arquivo de Importação em pdf" p-label="Layout (pdf)" p-icon="bi bi-file-earmark-text"
            p-kind="secondary" (p-click)="openPDF()">
        </po-button>

        <po-button [p-disabled]="lDisable" p-tooltip="Efetivar Arquivo" p-icon="bi bi-send-arrow-down"
            p-label="Efetivar" (p-click)="onEfetivarArquivo()" p-kind="primary"> </po-button>
        <po-button p-tooltip="Atualizar Tela" p-icon="bi bi-arrow-counterclockwise" p-label="Atualizar Tela"
            (p-click)="onAtualizar()" p-kind="primary"> </po-button>

        <po-button p-label="Manutenção" (p-click)="onManut()" p-icon="bi bi-tools" p-danger="true"
            style="margin-left: 5px;" p-tooltip="Manutenção de Transbordo"></po-button>


    </div>
</div>

<div class="grid">
    <po-loading-overlay *ngIf="loadTela===true" [p-text]="labelLoadTela" [p-screen-lock]="true"></po-loading-overlay>
    <!--<p style="font-size: 20px; font-weight: bold"><po-divider p-label="DADOS IMPORTADOS DO ARQUIVO"></po-divider></p>-->
    <p style="font-size: 15px; display: flex; justify-content: flex-end; margin-right: 260px; margin-bottom: -52px;">
        <po-button p-tooltip="Listagem em Excel" p-icon="an an-microsoft-excel-logo" p-label=""
            (p-click)="onExportarExcel()" p-kind="primary"> </po-button>
    </p>
    <po-table #ttDadosImport [p-items]="lista" [p-columns]="colunas" [p-striped]="true" p-sort="true" [p-sort]="true"
        [p-hide-table-search]="false" [p-hide-columns-manager]="true" p-container="true" [p-single-select]="false"
        [p-selectable]="true" [p-literals]="customLiterals" [p-height]="alturaGrid">

        <ng-template p-table-cell-template let-column="column" let-row="row">
            @if(column.property === 'opcao'){
            <div class="menuGrid">
                <div><button class="btn" (click)="onAlterarGrid(row)">
                        <p><i class="bi bi-eraser-fill"></i></p>
                    </button></div>
            </div>
            }
        </ng-template>
    </po-table>
</div>

<po-modal #telaAltera p-title="Altere os Dados do Item [ {{ objSolic }} ]" p-size="auto" p-click-out="false"
    [p-hide-close]="true" [p-primary-action]="acaoAlterarLinha" [p-secondary-action]="acaoCancelarLinha">
    <form [formGroup]="formAltera">
        <div class="po-md-12">
            <po-widget p-title="Dados do Item">



                <div class="po-md-6">
                    <div style="display: flex;flex-direction: column;">
                        <div><label class="po-font-text-large-bold">Peso Bruto</label></div>
                        <div><input [leadZero]="true" thousandSeparator="." mask="separator.3" decimalMarker=","
                                class="po-input" formControlName="pesoBru" p-label="Peso Bruto" /></div>
                    </div>
                </div>
                <div class="po-md-6">
                    <div style="display: flex;flex-direction: column;">
                        <div><label class="po-font-text-large-bold">Peso Líquido</label></div>
                        <div><input [leadZero]="true" thousandSeparator="." mask="separator.3" decimalMarker=","
                                class="po-input" formControlName="pesoLiq" p-label="Peso Líquido" /></div>
                    </div>
                </div>
                <div class="po-md-6"><po-number name="Altura" formControlName="Altura" p-label="Altura"></po-number>
                </div>
                <div class="po-md-6"><po-number name="Largura" formControlName="Largura" p-label="Largura"></po-number>
                </div>
                <div class="po-md-6"><po-number name="Compri" formControlName="Compri"
                        p-label="Comprimento"></po-number></div>
            </po-widget>
        </div>
    </form>
</po-modal>

<po-modal #pdfModal p-title="Visualizar Documento" p-primary-action-label="Fechar">
    <iframe *ngIf="pdfUrl" [src]="pdfUrl" width="100%" height="900px" style="border: none;"></iframe>
</po-modal>





<po-modal #modalEfetivar p-title="Efetivar Importação?" [p-primary-action]="acaoConfirmarDialog"
    [p-secondary-action]="acaoCancelarDialog">

    Efetivar a Importação dos Dados do Arquivo?

</po-modal>