/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
  --color-01: #004b87;
  --color-02: #0088b9;
  --color-03: #470a68;
  --color-04: #702876;
  --color-05: #a51f66;
  --color-06: #f185ce;
  --color-07: #a6192e;
  --color-08: #f99e1d;
  --color-09: #0088b9;
  --color-10: #007a87;
  
  --color-feedback-info-lightest: #f6e6e5;
  --color-feedback-info-lighter: #e3aeab;
  --color-feedback-info-light: #d58581;
  --color-feedback-info-base: #be3e37;
  --color-feedback-info-dark: #9b2d27;
  --color-feedback-info-darker: #72211d;
  --color-feedback-info-darkest: #4a1512;

}

.menuGrid {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  width: 200px;
}

.menuGrid>div {
  text-align: center;
}

.menuGrid div i{
  font-size:16px;
}

.btn:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #045B8F;
  background: #D7F0FE;
}

.btn > p {
  font-size: 12px;
}

.dlg{
  display:flex;
  justify-content:start;
  align-items:center;
  gap:10px
}

.btn {

  min-width: 55px;
  cursor: pointer;
  font-weight: 500;
  gap: 5px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #cccccc;
  transition: .3s;
  align-items: center;
  align-content: center;
  
}